body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 12;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body #root {
  width: 100%;
  height: 100vh;
}
body #root .react-app {
  transform: scale(0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
}
body #root .react-app #logo-wrapper {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  display: flex;
  justify-content: center;
  /*  .imgPix {
       animation: scale 1s step-end infinite;
   } */
}
body #root .react-app #logo-wrapper img {
  filter: sepia(100%) hue-rotate(170deg) brightness(100%) saturate(250%);
  width: 100%;
  height: 100%;
}
body #root .react-app #logo-wrapper .p-letter {
  overflow: hidden;
  position: relative;
  margin-right: 186px;
  z-index: 10;
}
body #root .react-app #logo-wrapper .p-letter .round-part {
  display: grid;
  grid-gap: 0;
  row-gap: 0;
  position: relative;
  z-index: 8;
  border-top-right-radius: 635px;
  border-bottom-right-radius: 635px;
  overflow: hidden;
  grid-template-columns: repeat(9, 190px);
  grid-template-rows: repeat(8, 190px);
  max-height: 1520px;
  max-width: 1710px;
}
body #root .react-app #logo-wrapper .p-letter .round-part img {
  height: 100%;
  width: 100%;
}
body #root .react-app #logo-wrapper .p-letter .straight-part {
  display: grid;
  grid-gap: 0;
  row-gap: 0;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(4, 190px);
  position: relative;
  z-index: 8;
  max-width: 760px;
  max-height: 760px;
  overflow: hidden;
}
body #root .react-app #logo-wrapper .p-letter .straight-part img {
  height: 100%;
  width: 100%;
}
body #root .react-app #logo-wrapper .i-letter {
  position: relative;
  margin-right: 196px;
  z-index: 10;
}
body #root .react-app #logo-wrapper .i-letter .point-part {
  display: grid;
  grid-gap: 0;
  row-gap: 0;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(4, 190px);
  overflow: hidden;
  max-width: 760px;
  max-height: 760px;
}
body #root .react-app #logo-wrapper .i-letter .point-part img {
  height: 100%;
  width: 100%;
}
body #root .react-app #logo-wrapper .i-letter .straight-part {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-gap: 0;
  row-gap: 0;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(7, 190px);
  overflow: hidden;
  max-height: 1330px;
  max-width: 760px;
}
body #root .react-app #logo-wrapper .i-letter .straight-part img {
  height: 100%;
  width: 100%;
}
body #root .react-app #logo-wrapper .x-letter {
  position: relative;
  display: flex;
  z-index: 10;
}
body #root .react-app #logo-wrapper .x-letter .col .square {
  position: relative;
  z-index: 8;
  display: grid;
  grid-gap: 0;
  row-gap: 0;
  grid-template-columns: repeat(4, 190px);
  grid-template-rows: repeat(4, 190px);
  overflow: hidden;
  max-width: 760px;
  max-height: 760px;
}
body #root .react-app #logo-wrapper .x-letter .col .square img {
  height: 100%;
  width: 100%;
}
body #root .react-app #logo-wrapper .x-letter .col .square.hidden {
  display: block;
  width: 760px;
  height: 760px;
  background-color: transparent;
}
body #root .react-app .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
body #root .react-app .imgWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #root .react-app .imgWrapper:before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fff, #12F6EF, #fff, #12F6EF, #fff, #12F6EF, #fff, #12F6EF, #fff);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  -webkit-animation: glower 20s linear infinite;
          animation: glower 20s linear infinite;
}
@-webkit-keyframes glower {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes glower {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes borderBlink {
  from, to {
    border-color: #12F6EF;
  }
  50% {
    border-color: transparent;
  }
}
@keyframes borderBlink {
  from, to {
    border-color: #12F6EF;
  }
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes scale {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}
@keyframes scale {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}/*# sourceMappingURL=App.css.map */