body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    z-index: 12;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    #root {
        width: 100%;
        height: 100vh;
        .react-app {
            transform: scale(0.3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            #logo-wrapper {
                animation-name: fadeIn;
                animation-duration: 3s;
                animation-fill-mode: forwards;
                animation-delay: 1s;
                display: flex;
                justify-content: center;
               /*  .imgPix {
                    animation: scale 1s step-end infinite;
                } */
                img {
                    filter: sepia(100%) hue-rotate(170deg) brightness(100%) saturate(250%);
                    width: 100%;
                    height: 100%;
                }
                .p-letter {
                    overflow: hidden;
                    position: relative;
                    margin-right: 186px;
                    z-index: 10;
                    .round-part {
                        display: grid;
                        grid-gap: 0;
                        row-gap: 0;
                        position: relative;
                        z-index: 8;
                        border-top-right-radius: 635px;
                        border-bottom-right-radius: 635px;
                        overflow: hidden;
                        grid-template-columns: repeat(9, 190px);
                        grid-template-rows: repeat(8, 190px);
                        max-height: 1520px;
                        max-width: 1710px;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .straight-part {
                        display: grid;
                        grid-gap: 0;
                        row-gap: 0;
                        grid-template-columns: repeat(4, 190px);
                        grid-template-rows: repeat(4, 190px);
                        position: relative;
                        z-index: 8;
                        max-width: 760px;
                        max-height: 760px;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .i-letter {
                    position: relative;
                    margin-right: 196px;
                    z-index: 10;
                    .point-part {
                        display: grid;
                        grid-gap: 0;
                        row-gap: 0;
                        grid-template-columns: repeat(4, 190px);
                        grid-template-rows: repeat(4, 190px);
                        overflow: hidden;
                        max-width: 760px;
                        max-height: 760px;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .straight-part {
                        position: absolute;
                        bottom: 0;
                        display: grid;
                        grid-gap: 0;
                        row-gap: 0;
                        grid-template-columns: repeat(4, 190px);
                        grid-template-rows: repeat(7, 190px);
                        overflow: hidden;
                        //max-height: 1386px;
                        max-height: 1330px;
                        max-width: 760px;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .x-letter {
                    position: relative;
                    display: flex;
                    z-index: 10;
                    .col {
                        .square {
                            position: relative;
                            z-index: 8;
                            display: grid;
                            grid-gap: 0;
                            row-gap: 0;
                            grid-template-columns: repeat(4, 190px);
                            grid-template-rows: repeat(4, 190px);
                            overflow: hidden;
                            max-width: 760px;
                            max-height: 760px;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .square.hidden {
                            display: block;
                            width: 760px;
                            height: 760px;
                            background-color: transparent;
                        }
                    }
                }
            }
            .fadeIn{
                -webkit-animation-name: fadeIn;
                animation-name: fadeIn;
                -webkit-animation-duration: 3s;
                animation-duration: 3s;
                -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
              }

            .imgWrapper,
            .wrapper-glow {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .wrapper-glow:before {
                content: '';
                position: absolute;
                left: -2px;
                top: -2px;
                background: linear-gradient(45deg, #fff, #12F6EF, #fff, #12F6EF, #fff, #12F6EF, #fff, #12F6EF, #fff);
                background-size: 400%;
                width: calc(100% + 5px);
                height: calc(100% + 5px);
                z-index: -1;
                animation: glower 20s  infinite;
            }

            @keyframes glower {
                0% {
                  background-position: 0 0;
                }
                
                50% {
                  background-position: 400% 0;
                }
                
                100% {
                  background-position: 0 0;
                }
            }
            
            @keyframes colorSwitch {
                from, to {
                    filter: sepia(100%) hue-rotate(170deg) brightness(100%) saturate(250%)!important;
                }
                50% {
                    filter: sepia(100%) hue-rotate(25deg) brightness(100%) saturate(250%)!important;
                }
            }
        }
    }
}